asgiref==3.8.1
attrs==25.3.0
black==25.1.0
click==8.2.0
colorama==0.4.6
Django==5.2.1
django-debug-toolbar==5.2.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf-spectacular==0.22.1
flake8==5.0.4
flake8-quotes==3.3.1
flake8-variables-names==0.0.5
inflection==0.5.1
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pep8-naming==0.13.2
pillow==11.2.1
platformdirs==4.3.8
pycodestyle==2.9.1
pyflakes==2.5.0
PyJWT==2.9.0
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
rpds-py==0.24.0
setuptools==80.4.0
sqlparse==0.5.3
tzdata==2025.2
uritemplate==4.1.1
wheel==0.45.1
