asgiref==3.8.1
attrs==23.2.0
colorama==0.4.6
Django==4.2
django-debug-toolbar==4.3.0
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.2
flake8==7.0.0
flake8-quotes==3.4.0
flake8-variables-names==0.0.6
inflection==0.5.1
iniconfig==2.0.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
mccabe==0.7.0
model-bakery==1.17.0
packaging==24.0
pep8-naming==0.13.3
pillow==10.3.0
pluggy==1.4.0
pycodestyle==2.11.1
pyflakes==3.2.0
PyJWT==2.8.0
pytest==8.1.1
PyYAML==6.0.1
referencing==0.34.0
rpds-py==0.18.0
sqlparse==0.4.4
tzdata==2024.1
uritemplate==4.1.1
